/*
Estilos para todas las pàginas
*/
    
    
    body{
  
      margin: 0;
	    padding: 0;
	    font-family: Helvetica, Arial, sans-serif;
	    background-color:   #ebfbfb;
	    font-size: 1em;
	    line-height: 1.5em;

    }

/*
Estilos para la página de inicio
*/

.noticies{

  margin-top: 2em;
  text-align: center;

}

.taula_noticies{

  text-align: center;
  margin: 0 auto;
  border-collapse: collapse;
  margin-top: 2em;
  border: 0;
  table-layout: fixed;

}

.caselles_taula_noticies{

  border: 0;

}

.titol_imatges_noticies{

  font-size: 2em;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  text-align: center;
  padding: 5px;

}

.imatges_noticies{

width: 12em;
height: 12em;
margin-top: 2em;

}

.titol_noticies{

  font-size: 3em;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  text-align: center;

}

/*
Estilos para la página contactos_copy.html
*/

.pantalla_dividida_contactes{

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-wrap: wrap;

}

.elements_inferiors_contactes{

display: inline-block;

}

.pantalla_esquerra_contactes{

align-items: center;
justify-content: flex-start;
width: min-content;
margin-top: 5%;

}

.pantalla_dreta_contactes{

  justify-content: flex-end;
  align-items:center;

}

.imatge_contactes_copy{

  height: 100px;
  width: 100px;

}

/*
Estilos para la pàgina de contactos.html
*/

.imatge_contactes{

  height: 80vh;
  width: 80vh;

}

.taula_contactes{

  text-align: center;
  margin: 0 auto;
  border: 0;
  border-spacing: 8em;

}


/*
Estilos del formulario
*/

    .titol_formulari{

      font-family: 'Anton', sans-serif;
      font-size: 3em;
      display: block;

    }

    .textarea_formulari{

      resize: none;

    }

    .boto_enviar_formulari{

      background-color:#9bacac;
      border: 2px solid black;
      border-radius: 10px;
      color:  #265578;
      padding: 4px 8px;
      font-size: 0.8em;
      font-weight: bold;
      box-shadow: 0px 0px 10px 0px #9bacac;
      cursor: pointer;
      display: inline-block;
      justify-content: center;

    }


/*
Estilos para la página comics.html
*/

/*
Estilos para el encabezado
*/

    .capçalera_contacte{
      border: solid 2px black;
      background-color:  #9bacac ;
      align-items: flex-start;
    }

    .capçalera{
      border: solid 2px black;
      background-color:  #9bacac ;
      background-position: 0%;
    }

    .logo_capçalera{
      height: 150px;
      width: 150px;
      display: inline-block;
    }

    .titol_capçalera{
      display: inline-block;
      vertical-align: 2em;
      font-size: 2em;
      font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    }

    .nav_capçalera{
      float: right;
    }

    .llista_capçalera{
      margin: 0;
		  padding: 0;
		  list-style: none;
		  padding-right: 20px;
    }

    .elements_llista_capçalera{
      display: inline;
      padding: 8px;
			line-height: 9.75em;
    }

    .links_capçalera{
      text-decoration: none;
      font-size: 30px;
      color: black;
    }

/*
Estilos para la tabla con comics 
*/
    .titol_taula_comics{

      font-size: 3em;
      font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
      text-align: center;
    
    }

    .taula_comics {
      text-align: center;
      margin: 0 auto;
      border-collapse: collapse;
    }

    .caselles_taula_comics{
      border-collapse: separate;
      border-spacing: 20px;
      border: 0;
    }

    .boto_imatges_taula_comics{

        height: 250px;
        width: 250px;
        border: 2px solid black;
        text-align: center;
        padding: 0%;
        background-size:contain

    }

/*
Estilos para las ventanas emergentes
*/

    .titol_finestra_emergent{

      text-align: center;
      text-decoration: underline;

    }

    .subtitol_finestra_emergent{

      display: inline-block;

    }

/* box shadow --> h-offset v-offset blur spread color || A lo millor alguns navegadors antics no ho soporten*/
/* cursor --> per canviar el cursors al passar per sobre del botó*/

    .boto_més_informació_finestra_emergent{

      background-color:#9bacac;
      border: none;
      border-radius: 40px;
      color:  #265578;
      padding: 8px 16px;
      font-size: 0.8em;
      font-weight: bold;
      box-shadow: 0px 0px 10px 0px #9bacac;
      cursor: pointer;
      display: inline-block;
      justify-content: center;

    }

/*hover --> Realitzar algun canvi algun element quan passes el ratoli per sobre*/

    .boto_més_informació_finestra_emergent:hover{
      box-shadow: none;
      background-color:  #bdcddc;
      color:   #265578;

    }

    .amagar_text_finestra_emergent{

      display: none;
      
    }

    .ensenyar_text_finestra_emergent{

      display: block;

    }

    .boto_per_tancar_finestra_emergent{

      background-image:url(IMG/boton_cerrar.png);
      background-repeat:no-repeat;
      height:20px;
      width:20px;
      background-position:center;
      background-size:contain;
      float: right;

    }

    .imatges_finestra_emergent{

      display: block;
      height: 500px;
      width: 500px;
      

    }

    .capçalera_finestra_emergent{

      display: block;
      margin-bottom: 10px;

    }

    #Ventana_Emergente_1::backdrop, #Ventana_Emergente_2::backdrop, #Ventana_Emergente_3::backdrop, #Ventana_Emergente_4::backdrop, 
    #Ventana_Emergente_5::backdrop, #Ventana_Emergente_6::backdrop, #Ventana_Emergente_7::backdrop, #Ventana_Emergente_8::backdrop,
    #Ventana_Emergente_9::backdrop{

      background-color: rgba(0, 0, 0,.55);

    }



    
